In [15]:
import pandas as pd
import os
import requests


from dotenv import load_dotenv
from sqlalchemy import create_engine, inspect

In [16]:
from dotenv import load_dotenv

load_dotenv()

db_username = os.getenv("DB_ROOT_USERNAME")
db_pwd = os.getenv("DB_ROOT_PWD")
# db_username = os.getenv("DB_USERNAME")
# db_pwd = os.getenv("DB_PWD")

# print(db_username)
# print(db_pwd)

In [17]:
# Connect to database
engine = create_engine(f"mysql+pymysql://{db_username}:{db_pwd}@MySQL:3306/sakila")

# Use insepector
# inspector = inspect(engine)

In [18]:
inspector = inspect(engine)

In [19]:
tables = inspector.get_table_names()
print("Tables:", tables)

Tables: ['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'film_text', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

In [20]:
# create query
query = "SELECT * FROM film"
df = pd.read_sql(query, engine)
df.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42